SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=9090

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=blog
DB_USERNAME=bloguser
DB_PASSWORD=CHANGE_ME

JWT_SECRET=CHANGE_TO_A_LONG_RANDOM_SECRET
JWT_EXPIRATION=86400000

CORS_ORIGINS=https://erwang.me,https://www.erwang.me
APP_UPLOAD_DIR=/www/server/erwang/uploads
